<ion-header>
  <ion-toolbar>
    <ion-title text-center>mainpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

     <div class="img-container"><img src="https://si.wsj.net/public/resources/images/OG-CB381_201812_8H_20181205191249.jpg">
    
      <div class="container">
          <section id="#home" class="cover">
               <form  class="flex-form">
                <label for="from">
                 <ion-icon name="search"></ion-icon>
          
                </label>
                <input type="search" placeholder="What do you want to work on?">
                <input type="submit" value="Search">
              </form>
             </section>
           </div>
    
    </div>

<ion-card>
    <div id="social">
       
        <i  routerLink="/bus" id="custom" class="fa fa-bus smGlobalBtn" aria-hidden="true"></i>
        <i id="custom" routerLink="/car"  class="fa fa-car smGlobalBtn" aria-hidden="true"></i>
      </div>
  
</ion-card>

</ion-content>






<!-- core_enrol_get_users_courses
(11:44:27  IST) anjali:
e1dec54b519027765534d15f272cca63
(11:44:35  IST) anjali:
userid
 -->
 <!-- https://codepen.io/emoreno911/pen/YVvNxK -->